.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
.modal-dialog {
  position: absolute;
  top: 75px;
  left: 720px;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
  width: 1000px;
  max-width: 1000px;
}

.addQty,
.subQty{
  width: 20px;
  height: 20px;
  line-height: 16px;
  border-radius: 50%;
  background-color: rgba(148, 145, 145, 0.712);
  cursor: pointer;
  margin: 0 10px;
  font-weight: bold;
}